# Dependencies
node_modules/

# Build output
dist/

# Environment
.env
.env.*

# TypeScript
*.tsbuildinfo

# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vercel
.env*
*.exe
